.message-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

@media (max-width: 645px) {
    .message-container {
        min-width: 400px; /* Adjust this value as needed */
    }
}